{
    "widgets": [
        {
            "height": 6,
            "width": 6,
            "y": 0,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/ecs/ocr-api-parent1/ocr-api' | fields @message | filter @message like /Health Statistics/ | fields @timestamp, @message, data.queueSize | stats avg(data.queueSize) by bin(30s)",
                "region": "eu-west-2",
                "title": "Queue Size (Ave/30s)",
                "view": "timeSeries",
                "stacked": false
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 12,
            "x": 6,
            "type": "log",
            "properties": {
                "query": "SOURCE '/ecs/ocr-api-parent1/ocr-api' | fields @message | filter @message like /error/ | stats count() by bin(15m)",
                "region": "eu-west-2",
                "stacked": false,
                "title": "Application Errors (per 15 minutes)",
                "view": "timeSeries"
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 6,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/ecs/ocr-api-parent1/ocr-api' | fields @message | filter @message like /Received from client file/ | stats count() by bin(60s)",
                "region": "eu-west-2",
                "title": "Image to Text Requests (per minute)",
                "view": "timeSeries",
                "stacked": false
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 0,
            "x": 12,
            "type": "log",
            "properties": {
                "query": "SOURCE '/ecs/ocr-api-parent1/ocr-api' | fields @message | filter @message like /Finished file/ | fields data.timeOnExecuterQueue| stats avg(data.timeOnExecuterQueue/60000) by bin(30s)",
                "region": "eu-west-2",
                "title": "Time in Queue (minutes)",
                "view": "timeSeries",
                "stacked": false
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 6,
            "x": 6,
            "type": "log",
            "properties": {
                "query": "SOURCE '/ecs/ocr-api-parent1/ocr-api' | fields @message | filter @message like /Finished file/ | fields data.totalProcessingTimeMs | stats avg(data.totalProcessingTimeMs/60000) by bin(30s)",
                "region": "eu-west-2",
                "title": "Total Txn Time (minutes)",
                "view": "timeSeries",
                "stacked": false
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 0,
            "x": 18,
            "type": "log",
            "properties": {
                "query": "SOURCE '/ecs/ocr-api-parent1/ocr-api' | fields @message | filter @message like /Finished file/ | fields data.fileSize | stats avg(data.fileSize/1000) by bin(30s)",
                "region": "eu-west-2",
                "title": "Image Size (Ave kB/30s)",
                "view": "timeSeries",
                "stacked": false
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 12,
            "x": 18,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "AWS/ApplicationELB", "HTTPCode_ELB_4XX_Count", "LoadBalancer", "app/ocr-api-parent1-lb/15c21529930662af" ],
                    [ ".", "HTTPCode_Target_5XX_Count", ".", "." ]
                ],
                "view": "timeSeries",
                "stacked": false,
                "region": "eu-west-2",
                "title": "ELB Errors (per 15 minutes)",
                "period": 900,
                "stat": "Sum"
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 6,
            "x": 18,
            "type": "metric",
            "properties": {
                "view": "timeSeries",
                "stacked": false,
                "metrics": [
                    [ "ECS/ContainerInsights", "CpuUtilized", "ClusterName", "ocr-api-parent1-cluster" ],
                    [ ".", "CpuReserved", ".", "." ]
                ],
                "region": "eu-west-2",
                "title": "ECS CPU Metrics"
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 6,
            "x": 12,
            "type": "metric",
            "properties": {
                "view": "timeSeries",
                "stacked": false,
                "metrics": [
                    [ "AWS/ApplicationELB", "NewConnectionCount", "LoadBalancer", "app/ocr-api-parent1-lb/15c21529930662af" ],
                    [ ".", "TargetResponseTime", ".", "." ]
                ],
                "region": "eu-west-2",
                "title": "ELB Connectivity"
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 0,
            "x": 6,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "ocr-api-metrics", "queue-size-above-zero" ]
                ],
                "view": "timeSeries",
                "stacked": false,
                "region": "eu-west-2",
                "title": "Queue Size Metric (Max/30s)",
                "period": 30,
                "stat": "Maximum"
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 12,
            "x": 0,
            "type": "log",
            "properties": {
                "query": "SOURCE '/ecs/ocr-api-parent1/ocr-api' | fields @message | filter @message like /error/ | stats count() by bin(60s)",
                "region": "eu-west-2",
                "title": "Application Errors (per minute)",
                "view": "timeSeries",
                "stacked": false
            }
        },
        {
            "height": 6,
            "width": 6,
            "y": 12,
            "x": 12,
            "type": "metric",
            "properties": {
                "metrics": [
                    [ "AWS/ApplicationELB", "HTTPCode_ELB_4XX_Count", "LoadBalancer", "app/ocr-api-parent1-lb/15c21529930662af" ],
                    [ ".", "HTTPCode_Target_5XX_Count", ".", "." ]
                ],
                "view": "timeSeries",
                "stacked": false,
                "region": "eu-west-2",
                "title": "ELB Errors (per minute)",
                "period": 60,
                "stat": "Sum"
            }
        }
    ]
}